.main-product-container {
  display: flex;
  flex-direction: column;
  padding: 50px 32px;
  min-height: 100vh;
  margin: 0px auto;
  max-width: 1200px;
  margin: 0px auto;
}
.main-product-container h1 {
  color: #0f172a;
  font-size: 36px;
  letter-spacing: -0.9;
  line-height: 40px;
  margin: 0px 0px 12px;
  padding: 0px;
}

.main-product-description {
  color: #475569;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.search-section {
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 12px;
  justify-content: space-between;
}

.search-section span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  white-space: nowrap;
  color: #475569;
}

.filtr-product-section {
  position: relative;
  display: flex;
  gap: 24px;
  min-height: 0;
}

.product-list-scroller {
  min-height: 0;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  padding-right: 6px;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.product-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(200px, 1vw, 288px), 1fr)
  );

  align-content: start;
  gap: 24px;
}

@media (max-width: 1000px) {
  .filtr-product-section {
    flex-direction: column;
  }


}

.product-list-scroller::-webkit-scrollbar {
  width: 4px;
}
.product-list-scroller::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}
.product-list-scroller::-webkit-scrollbar-track {
  background: transparent;
}
