.top-info-icon {
  color: #ffffff;
}

.top-info-text {
  color: #ffffff;
}

.top-info-container {
  background-color: #15803d;
  width: 100%;
}

.top-info-wrapper {
  max-width: 1200px;
  height: 100%;
  gap: 12px;
  margin: 0px auto 0px auto;
  padding: 23px 16px 23px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .top-info-wrapper {
    flex-direction: column;
    align-items: start;
    height: auto;
    gap: 12px;
    padding: 24px 16px 24px 16px;
  }
}
